@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bebas+Neue|Questrial&display=swap');

/* HEART */

.heart {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -222px;
  margin-left: -150px;
  z-index: -666;
}

/* BOXES */

.box {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5%;
}


.box.black {
  background-color: black;
}

/* TEXT */


.text {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  font-weight: 1000;
  font-size: 4rem;
  width: 340px;
  max-width: 340px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
}

.text.white {
  color: white;
  opacity: 75%;
  margin-top: -10px;
  margin-left: -188px;
}

.text.black {
  color: black;
  margin-top: -10px;
  margin-left: -185px;
  z-index: 666;
}

.line {
  position: absolute;
  height: 0.5rem;
  left: 0;
  width: 100%;
  transform-origin: 0 0;
}

.line.black {
  background-color: black;
}

.line.white {
  background-color: white;
}

.l1 {
  top: 0;
}

.l2 {
  bottom: 0;
}

/* MADE BY */

.signature {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: 'Questrial', sans-serif;
}
