.box {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

/* TEXT */

.wrapper {
  display: flex;
  justify-content: center;
}

.text {
  font-weight: 900;
  position: relative;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
}

.line {
  position: absolute;
  background-color: black;
  height: 0.5rem;
  left: 0;
  width: 100%;
  transform-origin: 0 0;
}

.l1 {
  top: 0;
}

.l2 {
  bottom: 0;
}
